- if tags.present?
  section.tag-suggestions aria-label="タグのサジェスト" hidden=true data-tag-suggestions-target="content"
    p.tag-suggestions__label タグのサジェスト
    / TODO クリックでタグ入力欄に追加する機能を実装
    - tags.first(8).each do |tag|
      button.tag-label type="button" = "##{tag.name}"
