- if tags.present?
  section.tag-suggestions aria-label="タグのサジェスト" hidden=true data-tag-suggestions-target="tagSuggestions"
    p.tag-suggestions__label タグのサジェスト
    - sort_for_suggestions(tags).each do |tag|
      button.tag-label(
        type="button"
        data-tag-name=tag.name
        data-tag-suggestions-target="tag"
        data-action="click->tag-suggestions#completeInput"
      ) = "##{tag.name}"
